@import "variables";
@import "mixins";

@each $day, $number in $days {
  .#{$day} :first-child {
    @include tile;
    margin: 1px 1px 0 #{$number * 100px + $number};

    &:first-child::after {
      content: "1";
      @include flex-center;
      font-size: $font-tile;
    }
  }
}

@for $i from 2 through 31 {
  .calendar :nth-child(#{$i}) {
    @include tile;
    margin: 1px 1px 0 0;

    &::after {
      content: "#{$i}";
      @include flex-center;
      font-size: $font-tile;
    }
  }
}

@for $j from 28 through 30 {
  .calendar-#{$j} :nth-child(n+#{$j + 1}) {
    display: none;
  }
}
